<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if '/' == request.path %}active{% endif %}" aria-current="page" href="{% url 'home' %}">About Rotary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'causes' in request.path %}active{% endif %} " href="{% url 'causes' %}">Our Causes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'events' in request.path %}active{% endif %} " href="{% url 'events' %}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'news' in request.path %}active{% endif %} " href="{% url 'news' %}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'members' in request.path %}active{% endif %} " href="{% url 'members' %}" >Members</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>