{% extends "base.html" %}
{% load static %}

{% block title %}causes{% endblock title %}

{% block content %}

<div id="causes" class="bg-texture"> 

    {% include 'partials/_page_header.html' with heading="Causes" background_image="images/pg_header_bg.jpg" %}

    {% include 'partials/_lead_paragraph.html' with lead_paragraph="Rotary is dedicated to causes that build international relationships, improve lives, and create a better world to support our peace efforts and end polio forever." %}

    <div class="container pb-5">
        <div class="my-cards">

            {% if causes %}
                {% for cause in causes %}
                <div class="my-card">
                    <div class="card-image" style="background-image: url({{ cause.thumb_nail.url }})"></div>
                    <div class="card-body">
                        <h1>{{ cause.title }}</h1>
                        <div>
                            {{ cause.excerpt | safe }}
                        </div>
                        <a href="{% url 'causes' %}">Link to the cause</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h3>No Cause added yet</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}