{% extends "base.html" %}
{% load static %}

{% block title %}causes{% endblock title %}

{% block content %}

<div id="causes"> 
    
    {% include 'partials/_page_header.html' with heading="Causes" background_image="images/pg_header_bg.jpg" %}

    {% include 'partials/_lead_paragraph.html' with lead_paragraph="Rotary is dedicated to causes that build international relationships, improve lives, and create a better world to support our peace efforts and end polio forever." %}

    <div class="container pb-5">
        <div class="my-cards">
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
            <div class="my-card">
                <div class="card-image"></div>
                <div class="card-body">
                    <h1>Card title</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error exercitationem tenetur nostrum est maiores ea deserunt suscipit molestiae quia!
                    </p>
                    <a href="#">Link to the cause</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}