{% extends "base.html" %}

{% block title %}
    {{ event.title }}
{% endblock title %}

{% block content %}
    <div id="event-detail-page" class="container">

        {% comment %} Go back button {% endcomment %}
        <div class="page-nav">
            <a href="{% url 'events' %}">
                <span class="back">
                    <svg xmlns="http://www.w3.org/2000/svg" cass="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                    </svg>
                    Go Back
                </span>
            </a>
        </div>

        {% comment %} Banner{% endcomment %}
        <div id="event-banner">
            <div class="content-container" style="background-image: url({{ event.thumbnail.url }})" >
                <div class="event-detail">
    
                    <h1>{{ event.title }}</h1>
                    {% if event.host %}<h3>By {{ event.host }}</h3>{% endif %}
    
                    <p>{{ event.venue }}</p>
                    <p>{{ event.street }} {{ event.town }} {{ event.post_code }}</p>
    
                </div>
                
                <div class="event-cta">
                    <h3>Date & time</h3>
    
                    <p class="time">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                        </svg> <span>{{ event.date | date:"d M Y" }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
                        </svg>
                        {{ event.date | date:"i:H" }}
                    </p>
                    <button class="book-btn">Book</button>
                    <button class="promo-btn">Share</button>
                </div>
            </div>
        </div>

        {% comment %} Description {% endcomment %}
        <div class="event-container">
            <div class="event">
                <div class="event-details">
                    <h3>{{ event.title }}</h3>
                    <div>
                        {{ event.description | safe }}
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock content %}