{% extends "base.html" %}
{% load static %}

{% block title %}Members{% endblock title %}

{% block content %}

<div id="members" class="bg-texture">
    {% include "partials/_page_header.html" with heading="Members" background_image="images/members.jpg" %}
    <div class="container">
        <div class="members">
            {% if members %}
                {% for member in members %}
                    <div class="member-card">
                        <div class="pro-pic" style="background-image: url({{ member.profile_picture.url }})"></div>
                        <h2><a href="{{ member.get_absolute_url }}">{{ member.get_full_name }}</a></h2>
                        {% if member.rotary_position %}
                            <h5>{{ member.rotary_position }}</h5>
                        {% endif %}
                    </div> 
                {% endfor %}
            {% else %}
                <p>No members added yet.</p>
            {% endif %}
            <!-- Member card -->
            
            
        </div>
    </div>
</div>

{% endblock content %}