{% extends "base.html" %}
{% load static %}

{% block title %}News{% endblock title %}

{% block content %}
<div id="news" class="bg-texture">
    {% include 'partials/_page_header.html' with heading="Rotary news" background_image="images/pg_header_bg.jpg" %}
    {% include 'partials/_lead_paragraph.html' with lead_paragraph="Rotary has been up and about making a real difference within our community." %}

    <!-- News-->
    <div class="container">
        <div class="news-layout">
            <div class="articles">

                {% if stories %}
                {% comment %} Articles {% endcomment %}
                    {% for story in stories %}
                        <article>
                            <div class="article-featured-image" style="background-image: url({{ story.thumbnail.url }})"></div>
                            <div class="article-content">
                                <p>{{ story.date_published | date:"d M Y" }}</p>
                                <h3>{{ story.title }}</h3>
                                <div>{{ story.excerpt | safe }}</div>
                                <a href="{{ story.get_absolute_url }}">Read More</a>
                            </div>
                        </article>
                    {% endfor %}
                {% else %}
                    <p>No Stories added yet</p>
                {% endif %}
                
            </div>
            <aside>
                <div class="important-links">
                    <h2>Important Links</h2>
                    <div class="links">
                        <a href="https://www.rotary.org/en/get-involved/join" target="_blank" rel="noopener noreferrer">Join</a>
                        <a href="https://my.rotary.org/en/search/club-finder" target="_blank" rel="noopener noreferrer">Find a Club</a>
                        <a href="https://my.rotary.org/en/donate" target="_blank" rel="noopener noreferrer">Donate</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock content %}