// Home page Hero
@import './mixin.scss';

#hero {
    background: $rotary-dark-blue;
    background-image: url("../images/members.jpg");
    background-position: center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    @include media($mobile) {
        height: auto;
        padding: 3rem 0;
    }
    div {
        text-align: center;
        max-width: 60%;
        @include media($mobile) {
            max-width: 100%;
            padding: 0 2rem;
        }
        img {
            width: 160px;
            align-self: center;
        }
        h1 {
            color: $rotary-yellow;
            margin: 0;
            font-size: 4rem;
            font-family: $heading-font;
            text-shadow: 0 0 25px #000;
            span { font-size: .5em !important}
            @include media($mobile) {
                font-size: 2.2rem;
            }
        }
        p { 
            color: $white; 
            font-size: 1.2em;
            font-weight: bold;
            font-family: $heading-font;
            text-shadow: 0 0 25px #000;
            @include media($mobile) {
                font-weight: normal;
                padding: 0 1rem;
            }
        }
    }
}


// Home pages causes section
#causes-section {
    padding: 2rem 0 5rem 0;
    background-image: url("../images/textured_bg.jpg");
    .my-heading {
        margin: 0;
        margin-bottom: 3rem;
        color: $rotary-yellow;
        font-size: 4rem;
        font-weight: normal;
        text-align: center;
        @include media($mobile) {
            font-size: 2.6rem;
            margin-bottom: 1rem;
        }
    }
    .my-lead {
        font-size: 1.4rem;
        line-height: normal;
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        padding: 0 0 3rem 0;
        @include media($mobile) {
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
    
    .btn-container {
        text-align: center;
        .view-all-btn {
            display: inline-block;
            text-align: center;
            padding: 10px 40px;
            margin: 3rem 0 0 0;
            border: 1px solid $rotary-sky-blue;
            color: $rotary-dark-blue;
            font-weight: bold;
            letter-spacing: 1px;
            transition: all 200ms ease-in-out;
            &:hover {
                color: $white;
                background-color: $rotary-sky-blue;
            }
        }
    }
}

// Home page latest stories
#stories-section {
    padding-top: 4rem;
    margin-bottom: 2rem;
    h1 {
        color: $rotary-dark-blue;
        font-size: 3rem;
        margin-top: 0;
        font-weight: 400;
    }
    .content {
        display: flex;
        justify-content: space-between;
        @include media($tablet) {
            flex-direction: column;
        }
        .last-story {
            display: flex;
            align-items: flex-end;
            width: 50%;
            padding: 1rem 2rem 3rem 2rem;
            @include box-shadow-hover;
            background : {
                size: cover;
                position: center center;
                repeat: no-repeat;
            }
            @include media($tablet) {
                width: 100%;
                padding: 3rem 2rem;
                margin-bottom: 1rem;
            }
            .last-story-content {
                text-shadow: 2px 3px 5px #000;
                h1 {
                    color: $rotary-yellow;
                }
                .last-story-date {
                    display: flex;
                    align-items: center;
                    color: $white;
                    svg {
                        width: 20px;
                        margin-right: 10px;
                    }
                }
                a {
                    color: $white;
                    display: inline-block;
                    padding: 15px 50px;
                    border: 2px solid $purple; 
                    background: rgba(0,0,0, .5);
                }
            }
        }
        .last-two-stories {
            width: 48%;
            @include media($tablet) {
                width: 100%;
            }
            .story {
                display: flex;
                background: $grey;
                @include box-shadow-hover;
                &:first-child {
                    margin-bottom: 1rem;
                }
                img {
                    width: 50%;
                    height: 300px;
                    object-fit: cover;
                }
                .details {
                    padding: 1rem;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    .time {
                        display: flex;
                        align-items: center;
                        font-size: .8em;
                        margin: 0;
                        svg {
                            width: 20px;
                            margin-right: 5px;
                            stroke: $rotary-dark-blue;
                        }
                    }
                    div {font-size: .9em;}
                    a {
                        display: inline-block;
                        margin-top: 1rem;
                        font-size: .9em;
                        font-weight: bold;
                        color: $rotary-sky-blue ;
                    }
                }
                @include media($mobile) {
                    flex-direction: column;
                    img {
                        width: 100%;
                    }
                    .details {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* President section */
#president {
    padding: 5rem 0;
    @include media($mobile) {
        padding: 3rem 0;
    }
    h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: normal;
        color: $rotary-dark-blue;
        margin: 0 0 3rem;
        @include media($mobile) {
            line-height: normal;
            margin: 0 0 1.5rem;
            font-size: 2rem;
        }
    }
    .content {
        display: flex;
        align-items: flex-start;
        .content-details {
            width: 70%;
            padding-left: 3rem;
            font-size: 1.2rem;
            font-weight: 300;
            max-width: 600px;
            .message {
                margin-bottom: 3rem;
            }
        }
        img {
            width: 30%;
        }
        @include media($laptop) {
            img {
                width: 40%;
            }
            .content-details {
                width: 60%;
                padding: 0 2rem;
            }
        }
        @include media($mobile) {
            flex-direction: column;
            img { width: 100% }
            .content-details { 
                width: 100%; 
                padding: 0;
                .message {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

/* Join Section */@at-root
#join-section {
    padding: 1rem;
    margin-bottom: 4rem;
    background-image: url('../images/rotary_world_network.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 60% auto;
    @include media($tablet) {
        padding: 0;
        background-position: center right;
        background-blend-mode: lighten;
        background-size: 70%;
    }
    @include media($mobile) {
        background: none !important;
    }
    .content {
        width: 40%;
        h1 {
            color: $rotary_sky_blue;
            font-size: 2.5rem;
            font-weight: normal;
        }
        p {
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 300;
            margin-bottom: 3rem;
        }
        button {
            outline: none;
            border: none;
            background-color: $rotary_sky_blue;
            color: $white;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 1px;
            padding: 20px 60px;
        }
        @include media($laptop) {
            width: 50%;
        }
        @include media($tablet) {
            width: 70%;
        }
        @include media($mobile) {
            width: 100%;
            font-size: .9em;
            h1 {
                line-height: normal;
                font-size: 2rem;
                padding-right: 2rem;
            }
            p {
                margin-bottom: 2rem;
                // font-weight: 400;
            }
            button {
                padding: 15px 40px;
            }
        }
    }
}