@import './partials/mixin.scss';

/* IMPORT */
/* Page header */
@import './partials/page_header.scss';
/* Cards */
@import './partials/cards.scss';
/* Footer */
@import './partials/footer.scss';


/* Home page */
@import './partials/home_page.scss';
/* Causes page */ 
@import './partials/causes_page.scss';
/* Events page */ 
@import './partials/events_page.scss';
/* News page */
@import './partials/news_page.scss';
/* Members page */
@import './partials/members_page.scss';
/* Even_detail page */
@import './partials/event_detail.scss';
/* Story_detail page */ 
@import './partials/story_detail.scss';


#top-header {
    padding: 1rem;
    @include media($tablet) {
        display: none;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 40px;
            margin-right: 10px;
        }
        h1 {
            margin: 0;
            font-weight: bold;
            font-size: 1.4em;
            color: $rotary-dark-blue;
        }
    }
}
// Hello world





